<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <title>Home Page</title>
  </head>
  <body>
    <h1>60 days Challenge - by Michael Tang</h1>
    <a href="day1"> Day 1 - Website Setup </a> <br>
    <a href="day2/dateCalculator"> Day 2 - Date Calculator </a> <br>
    <a href="day2/jellyfish"> Day 2 - JellyFish </a> <br>
    <a href="day3/wiki"> Day 3 - Wiki Search Api </a> <br>
    <a href="day3/rocket"> Day 3 - Back Home! Fast! </a> <br>
    <a href="day4/donationBox"> Day 4 - Donation Box </a> <br>
    <a href="day5/snow"> Day 5 - Snow Simulation </a> <br>
    <a href="day6/matchingGame"> Day 6 - Matching Game </a> <br>
    <a href="day7/diastic-Machine"> Day 7 - Diastic Machine </a> <br>
    <a href="day8/create-story"> Day 8 - Create Your Own Story </a> <br>
    <a href="day9/youtube/search.html"> Day 9 - Kpop! </a> <br>
    <a href="day9/foulFilter"> Day 9 - Bad Words Filter </a> <br>
    <a href="day10/binary_tree"> Day 10 - Binary Tree </a> <br>
    <a href="day11/Movement"> Day 11 - Gravity Ball </a> <br>
    <a href="day12/genetic-algorithm"> Day 12 - Genetic Algorithm - Color Figuring </a> <br>
    <a href="day13/space_shooter"> Day 13 - Game: Space Shooter </a> <br>
    <a href="https://io-apps.herokuapp.com/"> Day 14 - Simple multiplayer: Moving Square </a> <br>
    <a href="day15/musicBox"> Day 15 - Music Box </a> <br>
    <a href="day16/findRestaurant"> Day 16 - Eat what? </a> <br>
    <a href="day17/timeCounter"> Day 17 - Time Counter </a> <br>
    <a href="favouriteUrl"> Day 18 - Favourite Links </a> <br>
    <a href="https://io-apps.herokuapp.com/day19"> Day 19 - Office Chat without notice </a> <br>
    <a href="day20/"> Day 20 - It's all about rain </a> <br>
    <a href="day21/codeDrawer"> Day 21 - Code Drawer - html & css </a> <br>
    <a href="day22/loginSystem/users/login"> Day 22 - Login System - BATMAN theme </a> <br>
    <a href="day23/homePage"> Day 23 - Homepage (Google Chrome available) </a> <br>
    <a href="myContact"> Day 24 - My Friends </a> <br>
    <a href="day25/keyboardKiller"> Day 25 - Typing Game </a> <br>
    <a href="https://io-apps.herokuapp.com/day26/"> Day 26 - Music Platform </a> <br>
    <a href="https://io-apps.herokuapp.com/day27/talkio/"> Day 27 - Talk IO </a> <br>
    <a href="day28"> Day 28 - 3D barrel </a> <br>
    <a href="day29"> Day 29 - Lord Of The Ring - fan made website </a> <br>
    <a href="day30/mtrmap">Day 30 - MTR system map</a><br>
    <a href="day31/storyteller">Day 31 - Story Generator</a><br />
    <a href="day32/flappy_bird_clone">Day 32 - Flappy Bird Clone</a><br />
    <a href="gameReview">Day 33 - Game review - GTA5</a><br />
    <a href="day34/relationship">Day 34 - Relationship - words (Google Chrome available)</a><br />
    <a href="day35/wheel">Day 35 - Yes or No ?</a><br />
    <a href="day36/musicHeart">Day 36 - Music Heart</a><br />
    <a href="happyFace">Day 37 - Happy Face. </a><br />
    <a href="day38/motivation">Day 38 - Quote. </a><br />
    <a href="https://io-apps.herokuapp.com/day39/">Day 39 - Restaurant Booking System </a><br />
    <a href="day40/drunkTest">Day 40 - Drunk Test </a><br />
    <a href="day41/dicegame">Day 41 - Dice game - risk style </a><br />
    <a href="poll">Day 42 - Polling System </a><br />
    <a href="day43/rockPaperScissors">Day 43 - Rock Paper Scissors </a><br />
    <a href="day44/secretMessage">Day 44 - Secret Message </a><br />
    <a href="day45/horse_racing">Day 45 - Horse racing </a><br />
    <a href="day46/matrix">Day 46 - Matrix Rain </a><br />
    <a href="day47/solarSystem">Day 47 - You are the center in the universe </a><br />
    <a href="day48/digitalClock">Day 48 - Digital Clock </a><br />
    <a href="day49/movie">Day 49 - Movie Heaven </a><br />
    <a href="day50/firework">Day 50 - Firework </a><br />
    <a href="day51/exchangerate">Day 51 - Exchange Rate </a><br />
    <a href="day52/trafficlight">Day 52 - Traffic Light </a><br />
    <a href="day53/sunRise">Day 53 - SunRise and SunSet </a><br />
    <a href="orderSystem">Day 54 - Food Ordering System </a><br />
    <a href="day55/smokingSimulator">Day 55 - Smoking Simulator (Google Chrome for better performance)</a><br />
    <a href="day56/musicBox">Day 56 - Music Box 2</a><br />
    <a href="day57/boardgame">Day 57 - Board Game</a><br />
    <a href="day58/coin">Day 58 - Flip the coin (cheat -> press h once -> chance of head for the later game increase; press t once -> chance of tail for the later game increase)</a><br />
    <a href="day59/dandelion">Day 59 - Dandelion generator</a><br />
    <a href="day60/dark">Day 60 - When it is dark enough, you can see the stars - Charles Austin Beard </a><br />
    <br />


    <!-- <p>
      var i = 1;  <br>
      var projects = []; <br>
      while(i < 90){ <br>
        projects.push(i); <br>
        console.log(projects); <br>
        i++; <br>
      }
    </p> -->
  </body>

</html>
