<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
    <title>Error</title>
  </head>
  <body>
    <p> Please enter the correct type and value</p>
  </body>

</html>
