html, body{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #E9EBEE;
}

/*.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url('batman.jpg');
  display:table;
  top: 0;
  background-size: cover;
  background-position:center;
}*/

.intro{
  height: 15%;
  width: 100%;
  margin: auto;
  color: #ffffff;

  /*background: linear-gradient(
                     rgba(0,0,0, 0),
                     rgba(0,0,0, 0.75)),
                     ;*/
  background: #3B5998;

  display:table;
  top: 0;
  background-size: cover;
  background-position:center;
  margin-bottom: 40px;
}

.intro .header{
  display: table-cell;
  text-align: center;
  width: 100%;
  max-width: none;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.content h1{
  padding: 0;
  margin: 0;
}

.btn{
  margin-top: 4px;
  font-family: 'Bangers', cursive;
  color: #000000;
  padding: 5px;
  border: solid #000000;
  background: none;
}

#i1{
  margin-left: 3px;
  padding: 3px;
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: none;
}

#i2{
  background-color: #000000;
  padding: 3px;
  color: #ffffff;
  outline: none;
  border: none;
}



/*layout 2*/
.intro2{
  height: 84%;
  width: 100%;
  margin: auto;
  background: #E9EBEE;
  display:table;
  top: 0;
  background-size: cover;
  background-position:center;
}

.intro2 .mainContent{
  display: table-cell;
  text-align: center;
  width: 100%;
  max-width: none;
}
