html, body{
  font-family: 'Bangers', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  color: #ffffff;
}

#main{
  height: 100%;
  width: 100%;
  margin: auto;
  display:table;
  top: 0;
}

#main #content{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  padding: 0px;
  text-align: center;
  
}

#lineDrawing{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  /*padding-bottom: 100px;*/
}
