body{
  padding:0;
  margin:0;
	background: url();
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  background-color: #000000;
}

#showcase{
  z-index: 1000;
  background: linear-gradient(
                     rgba(0,0,0, 0),
                     rgba(0,0,0, 0.75)),
                     url('background.jpeg');


  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
  text-align:left;
  padding:0 01px;
}

			.container{
				background: #B5A465;
				position: absolute;
				top:50%;
				left:50%;
				transform: translateX(-50%) translateY(-90%);
				width: 400px;
				padding:20px;

			}
			.container #output{
        margin: auto;

				height: 200px;
				resize: none;
				outline: none;
				font-size: 40px;
			}
